/* APP */

.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* header */

.hd-container {
  max-width: 900px;
  width: 900px;
  height: 40px;
  margin: 20px;
  /* position: fixed; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hd-logo {
  width: 40px;
}
.hd-logo-img {
  width: 100%;
}

.hd-list {
  /* width: 60%; */
}

.hd-list-wrap {
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hd-list-item {
  margin-right: 10px;
}
.hd-list-item:last-child {
  margin-right: 0;
}
.hd-list-link {
  text-decoration: none;
  color: black
}